div#ui {
    position: float;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;

    left: 20;
    top: 20;

    width: fit-content;
    height: fit-content;
}

div.modal {
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

div.section {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: #bbb;
}

label {
    margin-right: 20px;
}