div#ui {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;

    left: 20;
    top: 20;

    width: fit-content;
    height: fit-content;
}

.modal {
    color: #fff;
    margin: 10px;
    padding: 20px;
    background-color: #0007;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

summary {
    cursor: pointer;
}

details {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: #0019;
}

label {
    margin: 10px;
}

button {
	padding: 6px 10px;
	margin: 4px;
	cursor: pointer;
	width: 100%;
}

div.pair {
    width: 100%;
    display:flex;
    justify-content: flex-end;
}